<h1>About Page</h1>
<p>here I will place some info about me</p>
<p>
  14.02.2021 Working in construction and coding in the evenings is not easy but
  will not give up.
</p>
<p>15.02.2021 One day I will do what I like for living...</p>
<p>
  16.02.2021 Accident at work, cant't see on left eye, another perfect day on
  the construction site.
</p>
<p>
  17.02.2021 Its hard to open eyes, something got stuct in it. I went to the
  hospital and I was told it will pass in about a week. Let's wait and see.
</p>

<h3>bash test</h3>
