<h1>About Page</h1>
<p>here I will place some info about me</p>
<p>
  14.02.2021 Working in construction and coding in the evenings is not easy but
  will not give up.
</p>
<p>15.02.2021 One day I will do what I like for living...</p>
<p>
  16.02.2021 Accident at work, cant't see on left eye, another perfect day on
  the construction site.
</p>
<p>
  17.02.2021 Its hard to open eyes, something got stuct in it. I went to the
  hospital and I was told it will pass in about a week. Let's wait and see.
</p>
<p>
  18.02.2021 Direct light makes me blind for a couple of minutes, hope tomorrow
  morning will be better. No code has been done
</p>
<p>
  19.02.2021 Hard day at work, a recruiter lady phoned me up today, but she
  wasn't impressed with my personality, its still hard to open left eye, I wish
  February will be over soon!
</p>
<p>
  20.02.2021 day at home, the eye is sore but is getting better, mayby I will
  code today
</p>
<p>
  21.02.2021 Quiet Sunday, it seams like the medication for my eye are starting
  to work, I hope that within a couple of days I will be able to spend more time
  in front of the screen...
</p>

<h3>bash test</h3>
