<h1>About Page</h1>
<p>here I will place some info about me</p>
<p>
    14.02.2021 Working in construction and coding in the evenings is not easy but
    will not give up.
</p>
<p>15.02.2021 One day I will do what I like for living...</p>
<p>
    16.02.2021 Accident at work, cant't see on left eye, another perfect day on
    the construction site.
</p>
<p>
    17.02.2021 Its hard to open eyes, something got stuct in it. I went to the
    hospital and I was told it will pass in about a week. Let's wait and see.
</p>
<p>
    18.02.2021 Direct light makes me blind for a couple of minutes, hope tomorrow
    morning will be better. No code has been done
</p>
<p>
    19.02.2021 Hard day at work, a recruiter lady phoned me up today, but she
    wasn't impressed with my personality, its still hard to open left eye, I wish
    February will be over soon!
</p>
<p>
    20.02.2021 day at home, the eye is sore but is getting better, mayby I will
    code today
</p>
<p>
    21.02.2021 Quiet Sunday, it seams like the medication for my eye are starting
    to work, I hope that within a couple of days I will be able to spend more time
    in front of the screen...
</p>
<p>
    22.02.2021 Still can't open my eye, yellow slime comes out of it, but
    apparently that's normal healing proccess. I have slight concerns...
</p>
<p>
    23.02.2021 I went to see another specialist, I was told that I have deep cut
    on my Cornea, preaty bad news :(
</p>
<p>01.03.2021 I did not code much. Bed Time</p>
<p>02.03.2021 time to fix my ubuntu.</p>
<p>03.03.2021 further ubuntu setup.</p>
<p>04.03.2021 it looks like I will have to set up my OS from the scratch</p>
<p>05.03.2021 Backed up my files. Time to clear the SDD</p>
<p>30.03.2021 officialy I'm an idiot.</p>
<p>01.04.2021 looking for a new laptop</p>
<p>02.04.2021 having fun with windows 10 bugs and WSL</p>
<p>03.04.2021 Ordering materials</p>
<p>06.04.2021 New Windows 10 on Vaio software installation stage. </p>
<p>07.04.2021 Setting up rails enviroment</p>

<h3>bash test</h3>