<h1> Hi, <%= current_user.first_name %></h1>
<h2 class="border-top">Blogs</h2>
<% @posts.each do |post| %>
<p class="border-top"><%= post.title %></p>
<% end %>
<h2>Skills</h2>
<% @skills.each do |skill| %>
<p><%= skill.title %></p>
<% end %>