 <h1>Hi, <%= current_user.first_name %></h1>
  <% @posts.each do |post| %>
    <p class="border-top"><%= post.title %></p>
  <% end %>
  <h2>Skills</h2>
  <% @skills.each do |skill| %>
    <p><%= skill.title %></p>
  <% end %>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>