// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a {
  text-decoration: none;
  font-size: bold;
}
body {
  background: rgb(230, 230, 230);
}
